         /*---------Examples---------*/
         .section-examples {
            padding-top: 94px;
            padding-bottom: 94px;
          }
          
          .examples {
            display: flex;
            flex-wrap: wrap;
            margin-left: -30px;
            margin-top: -30px;

            & > .cards {
            flex-basis: calc(100% / 3 - 30px);
            margin-left: 30px;
            margin-top: 30px;
            background: #ffffff;
            border: 1px solid #eeeeee;
            }

            & .title {
              color: var(--title-text-color);
              font-weight: 700;
              font-size: 18px;
              line-height: 2;
              letter-spacing: 0.06em;
            }

            & .text {
              @include font ($fs: 16px, $lh: 30px);
              margin-top: 4px;
            }
          }
          
          
          
          .card-img {
            position: relative;
            overflow: hidden;
          }
          
          
          .card-action-text {
            position: absolute; 
            left: 0;
            bottom: 0;
            background-color:rgba(33, 150, 243, 0.9);
            width: 101%;
            height: 101%;
            @include font ($fs: 18px, $lh: 28px);
            text-align: left;
            color: #ffffff;
            padding: 63px 24px;
            overflow: scroll;
            opacity: 1;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

            .link:hover &,
            .link:focus & {
            transform: translateY(0);
            }
          }

          .card-content {
            padding: 20px 24px;
          }
          .examples .link {
            display: block;
            color: var(--primary-text-color);
            text-decoration: none;
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
            &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            }
          }
          
          .list-button {
            display: flex;
            justify-content: center;
            margin-bottom: 34px;
            & > .item:not(:last-child) {
              margin-right: 8px;
            }
          }
          
          
          
          
          
          
          
        