/*------------Page header-------------*/

.page-header {
  position: relative;
  background-color: #ffffff;
  display: flex;
  width: 100%;
  min-height: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-btn {
  border: none;
  background-color: transparent;
}
.burger-btn-icon {
  width: 40px;
  height: 40px;
  fill: var(--title-text-color);
  .burger-btn:focus & {
    fill: var(--accent-color);
  }
}

/////Mob-menu///////

.mobile-menu {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 480px;
  max-height: 796px;
  transform: translateY(0%) translateX(-50%);
  padding-top: 48px;
  padding-left: 40px;
  background-color: #ffffff;
}

.mobile-menu.is-menu-hidden {
  transform: translateY(-100%) translateX(-50%);
  opacity: 1;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.mobile-menu-close-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu.is-menu-hidden {
  transition: opacity 250ms linear 0ms;
  opacity: 0;
}

.mobile-menu * {
  transition: opacity 250ms linear 500ms;
  opacity: 1;
}

.mobile-menu.is-menu-hidden {
  transition: opacity 250ms linear 0ms;
  opacity: 0;
}

.mobile-menu-navigaiton-item {
  &:not(:last-child) {
    margin-bottom: 36px;
  }

  & .linkcurrent {
    color: var(--accent-color);
  }
}

.mobile-menu-navigation-link {
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  vertical-align: text-bottom;
}
.mobile-menu-contacts-item {
  margin-bottom: 32px;
  & .linkcurrent {
    color: var(--accent-color);
  }
}

.mobile-menu-contacts-link {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.mobile-menu-contacts-link2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.mobile-social-links-list {
  display: flex;

  // justify-content: left;
  // align-items: center;
  // text-align: left;
}

.mobile-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-social-link:not(:last-child) {
  margin-right: 20px;
}

.mobile-contacs {
  margin-bottom: 48px;
}
.mobile-social-link::before {
  height: 22px;
  outline: 1px solid red;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }

  .info {
    display: none;
  }
}

// .page-header {
//   background-color: #ffffff;
//   display: flex;
//   width: 100%;
//   min-height: 80px;
//   top: 0;
//   left: 0;
//   border: 1px solid #ECECEC;
//   align-items: center;
//   position: fixed;
//   z-index: 3;

// }

// .page-header-container {
//   display: flex;
//   align-items: center;
// }

// .navigation {
//   display: flex;
//   align-items: center;
//   margin-right: auto;
//   height: 80px;
// }

// .site-nav {
//   display: flex;
//   height: 100%;
//   align-items: center;
//   & .item:not(:last-child) {
//     margin-right: 50px;
//   }

//   & .link.current {
//     color: var(--accent-color);
//   }

//   & .link {
//     color: var(--title-text-color);
//     @include font ($fs: 14px, $fw: 500);
//     text-align: center;
//     letter-spacing: 0.02em;
//     text-decoration: none;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     cursor: pointer;
//   }
//   & .link:hover,
//   & .link:focus {
//     color: var(--accent-color);

//   }
// }

// .item {
//   display: flex;
//   height: 100%;
//   align-items: center;
//   position: relative;
// }

// .link2::after {
//   display: block;
//   content: "";
//   width: 100%;
//   height: 4px;
//   background-color: var(--accent-color);
//   border-radius: 2px;
//   position: absolute;
//   left: 0px;
//   bottom: -1px;

// }

// .info {
//   display: flex;
//   & .item + .item {
//     margin-left: 30px;
//   }
//   & .link {
//     color: #757575;
//     @include font ($fs: 14px, $fw: 500);
//     letter-spacing: 0.02em;
//     text-decoration: none;
//     display: flex;
//     align-items: center;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   & .link:hover,
//   & .link:focus {
//     color: var(--accent-color);
//   }
//   & .link.current {
//     color: var(--accent-color);
//   }

// }

// .icon-contact {
//   fill: currentColor;
//   margin-right: 10px;
// }
