/*      Team     */

.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.team {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;

  & > .team-cards {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  & .title {
    color: var(--title-text-color);
    @include font($fs: 16px, $fw: 500, $lh: 19px);
  }

  & .text {
    @include font($fs: 16px, $lh: 19px);
    margin-top: 10px;
  }
}

.cardcontent {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

.teamcard {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;

    & > .team-cards {
      flex-basis: calc(100% / 2 - 30px);
    }
  }
}

@media screen and (min-width: 1200px) {
  .team > .team-cards {
    flex-basis: calc(100% / 4 - 30px);
  }
  .cardcontent {
    padding-bottom: 30px;
  }
}
