      /*---------------Modal---------------*/

      .backdrop {
        position: fixed;
        z-index: 4;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 1;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        }
      }
      
      
      
      
      .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 528px;
        background-color: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 40px;

        .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(1.1);
       }
      }
      
      .close-button {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        text-align: center;
        background-color: #ffffff;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        align-items: center;
        cursor: pointer;
        
      }
      
      
      
      .icon-close {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        width: 18px;
        height: 18px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .close-button:hover & {
        fill: var(--accent-color);
        }

      }

      