.button {
    border-radius: 4px;
    padding: 10px 32px;
    margin-top: 30px;
    min-width: 200px;
    height: 50px;
    text-align: center;
    
    background-color: var(--accent-color);
    @include font ($fs: 16px, $fw: 700, $lh: 30px);
    letter-spacing: 0.06em;
    border: 0px;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: #188CE8;
    }
  }

  .button-type {
    display: flex;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    min-width: 73px;
    height: 38px;
    text-align: center;
    @include font ($fs: 16px, $fw: 500, $lh: 26px);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }


  .subscribtion-button-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    @include font ($fs: 16px, $fw: 700, $lh: 30px);
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--accent-color);
    border: 1px solid transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: #188CE8;
    }
  }

  .send-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover {
    background-color: #188CE8;
    }
    
  }





  