.subscribtion-form {
    display: flex;
  }

  .subscribtion-footer {
    width: 358px;
    height: 50px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-right: 12px;
    padding-top: 16px;
    padding-left: 15px;
    padding-bottom: 16px;
    color: #ffffff;

    &::placeholder {
      @include font ($fs: 16px, $lh: 20px);
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    
    }
  }
 
  .icon-subscribtion-button-footer {
    height: 24px;
    width: 24px;
    margin-left: 10px;
    
  }
  