/*-----------Logo------------*/

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  @include font(24px, 700, 28px);
  text-decoration: none;
  margin-right: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-color {
  color: var(--title-text-color);
}
