body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  padding-top: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.section-title {
  color: var(--title-text-color);
  @include font($fs: 28px, $fw: 700, $lh: 33px);
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .body {
    padding-top: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    @include font($fs: 42px, $fw: 700, $lh: 36px);
    margin-bottom: 50px;
  }
}
